/* Import fonts at the top of the CSS file */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

.container-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 779px;
  width: 860px;
  background: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  background: #e2e1e1;
  border-radius: 15px;
  padding: 40px;
  width: 620px;
  height: 520px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.sub-container h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 50.5px;
  line-height: 1;
  margin-bottom: 10px;
  /* Makes it closer to the paragraph */
}

.sub-text p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  max-width:400px;
  margin-left: 120px;
  padding-bottom: 0px;
}


